@import "tailwindcss";

#range::-webkit-slider-runnable-track {
  height: 2px;
  background: gray;
  border-radius: 9999px;
}

#range::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin-top: -5px;
}

#range::-moz-range-track {
  height: 3px;
  background: white;
  border-radius: 9999px;
}

#range::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  border: none;
}
